/*1.- Selector de Etiqueta*/
p{  text-align: center;
font-size: 15px;
color: rgb(179, 93, 14);
text-transform: uppercase;
text-align: right;
color: brown;
background-color: rgba(53, 80, 153, 0.116);



}
    